<!DOCTYPE html>
<html>
  <head>
    <title>AzuTyping</title>
    <meta name="thumbnail" content="https://github.com/office-diet/office-diet.github.io/blob/master/image.png?raw=true" />
    <meta name="description" content="いい気分になるタイピングしかしなくていい！">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
